.App {
  text-align: center;
}

.contador-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-button {
  width: 100px;
  height: 30px;
}